.messages
  .message{"data-message_id": "xxxx"}
    .message__upper-info
      %p.message__upper-info__talker メンバーの名前
      %p.message__upper-info__date 2019/10/03(Thu) 19:05:09
    %p.message__text メッセージのみメッセージのみメッセージのみメッセージのみメッセージのみメッセージのみ

  .message{"data-message_id": "xxxx"}
    .message__upper-info
      %p.message__upper-info__talker メンバーの名前
      %p.message__upper-info__date 2019/10/03(Thu) 19:05:09
    %p.message__text
    = image_tag 'http://d33f9sk7a6w0qk.cloudfront.net/ikinari_admin/wp-content/uploads/2014/08/topics01-11.png'

  .message{"data-message_id": "xxxx"}
    .message__upper-info
      %p.message__upper-info__talker メンバーの名前
      %p.message__upper-info__date 2019/10/03(Thu) 19:05:09
    %p.message__text メッセージと画像メッセージと画像メッセージと画像メッセージと画像メッセージと画像メッセージと画像
    = image_tag 'http://d33f9sk7a6w0qk.cloudfront.net/ikinari_admin/wp-content/uploads/2014/08/topics01-11.png'

.form
  -# = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'